html
  head
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link( href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet")
    link( href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet")
    link( href="https://fonts.googleapis.com/css?family=Fjalla+One|Rubik&display=swap" rel="stylesheet")
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    br
    div(style="background-color:rgb(255, 179, 151);background-image: linear-gradient(115deg, transparent 75%, rgb(255, 208, 191) 75%), linear-gradient(245deg, transparent 75%, rgb(255, 208, 191) 75%),linear-gradient(115deg, transparent 75%,  rgb(255, 208, 191) 75%), linear-gradient(245deg, transparent 75%, rgb(255, 208, 191) 75%);background-position: 0 0, 0 0, 10px -20px, 10px -20px;background-size: 20px 40px;height:100px")
        p(style="color:floralwhite;font-size: 50px;font-family:'Shadows Into Light';font-weight: 300;text-align : center;padding-right: 30px;text-shadow: 3px 3px 3px black;margin:30px;padding-top:10px") JipJung Community
    h1(style="font-family:'Fjalla One';font-size:30px;padding-left:200px;padding-top:50px") [ Admin Page ]
    br
    table(align="center", style="width:80%;border:3px solid;border-collapse:collapse")
        tr(style="border:1px solid;border-collapse:collapse")
            th(style="border:1px solid;border-collapse:collapse;font-size:20px;text-align:center;background-color:rgb(255, 179, 151)") 내보내기
            th(style="border:1px solid;border-collapse:collapse;font-size:20px;text-align:center;background-color:rgb(255, 179, 151)") 욕 존재유무
            th(style="border:1px solid;border-collapse:collapse;font-size:20px;text-align:center;background-color:rgb(255, 179, 151)") ID
            th(style="border:1px solid;border-collapse:collapse;font-size:20px;padding-left:30px;text-align:center;background-color:rgb(255, 179, 151)")  판단 방법
            th(style="border:1px solid;border-collapse:collapse;font-size:20px;padding-left:30px;text-align:center;background-color:rgb(255, 179, 151)")  글 목록
        ul
        form(method="post", action='/droptheS')
            -for(i in result1)
                tr(style="border:1px solid;border-collapse:collapse")
                    td(style="text-align:center") 
                        input(id='checkinfo', type='checkbox', value=1, name='testName')
                        input(id='checkvalue', type='hidden', value=0, name='testName')
                    td(style="border:1px solid;border-collapse:collapse;text-align:center;width:80px") 욕 존재 O
                    td(style="border:1px solid;border-collapse:collapse;text-align:center;width:80px") #{result1[i].id}
                    td(style="border:1px solid;border-collapse:collapse;text-align:center;width:80px") #{result1[i].sentid}
                    td(style="border:1px solid;border-collapse:collapse;padding-left:15px") #{result1[i].detecsent}
                    input(type="hidden", value=result1[i].id, name="id")
        
            -for(i in result2)
                tr(style="border:1px solid;border-collapse:collapse")
                    td(style="text-align:center") X                    
                    td(style="border:1px solid;border-collapse:collapse;text-align:center;width:80px") 욕 존재 X
                    td(style="border:1px solid;border-collapse:collapse;text-align:center;width:80px") #{result2[i].id}
                    td(style="border:1px solid;border-collapse:collapse;text-align:center;width:80px") #{result2[i].sentid}
                    td(style="border:1px solid;border-collapse:collapse;padding-left:15px") #{result2[i].curedsent}
                    input(type="hidden", value=result2[i].id, name="id")
            
        table(align="right", style="width:15%;")
            tr
                td(style="padding:30px")
                    input(type="submit", class="btn btn-lg btn-primary btn-block", style="width:10%;background-color:rgb(255, 156, 121);font-family:'Fjalla One'; font-size:20px;padding:6px;position: absolute; right:560px;", valign='right', value="Export")
   
                td(style="padding:30px")
                    form(method="post", action='/toCheck')
                        input(type="submit", class="btn btn-lg btn-primary btn-block", style="width:200px;font-family:'Fjalla One'; font-size:20px;background-color:rgb(255, 156, 121);padding:6px;position: absolute; right: 350px;", valign='right', value="Admin Manage")
                td(style="padding:30px")  
                    form(method="post", action='/toLogin')
                        input(type="submit", class="btn btn-lg btn-primary btn-block", style="width:10%;font-family:'Fjalla One'; font-size:20px;background-color:rgb(255, 156, 121);padding:6px;position: absolute; right: 170px;", valign='right', value="Login")