html
  head
    link( href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet")
    link( href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet")    
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link( href="https://fonts.googleapis.com/css?family=Fjalla+One|Rubik&display=swap" rel="stylesheet")
  body
    br
    div(style="background-color:rgb(141, 179, 250);background-image: linear-gradient(115deg, transparent 75%, rgb(167, 198, 255) 75%), linear-gradient(245deg, transparent 75%, rgb(167, 198, 255) 75%),linear-gradient(115deg, transparent 75%,  rgb(187, 211, 255) 75%), linear-gradient(245deg, transparent 75%, rgb(187, 211, 255) 75%);background-position: 0 0, 0 0, 10px -20px, 10px -20px;background-size: 20px 40px;height:100px")
        p(style="color:floralwhite;font-size: 50px;font-family:'Fjalla One';font-weight: 300;text-align : center;padding-right: 30px;text-shadow: 3px 3px 3px black;margin:30px;padding-top:10px") JipJung Community

    br
    table(align="center", style="width:80%;border:3px solid;border-collapse:collapse;")
        tr(style="border:1px solid;border-collapse:collapse;font-family:'Nanum Gothic Coding';")
            th(style="border:1px solid;border-collapse:collapse;font-size:20px;text-align:center;background-color:rgb(167, 198, 255)") ID
         
            th(style="border:1px solid;border-collapse:collapse;font-size:20px;padding-left:30px;text-align:center;background-color:rgb(167, 198, 255)") 작성글
        ul
             -for(i in result)
                tr(style="border:1px solid;border-collapse:collapse;")  
                    td(style="border:1px solid;border-collapse:collapse;text-align:center;width:80px") #{result[i].id}
                    
                    td(style="border:1px solid;border-collapse:collapse;padding-left:15px") #{result[i].curedsent}
    br
    
    br
    table(align="right" )
        tr
            td
                form(method="post", action='/toWrite')
                    input(
                        type="submit", 
                        class="btn btn-lg btn-primary btn-block", 
                        style="width:10%; background-color:cornflowerblue;font-family:'Fjalla One';font-size:25px;padding:6px;position: absolute; right: 355px;", valign='right', value="Posting")
                form(method="post", action='/toLogin')
                    input(
                        type="submit", 
                        class="btn btn-lg btn-primary btn-block", 
                        style="width:10%; background-color:cornflowerblue;font-family:'Fjalla One';font-size:25px;padding:6px;position: absolute; right: 175px;", valign='right', value="Logout")